<div class="fe-field fe-field--boolean">
  <label class="fe-radio">
    <input type="radio" name="answer" value="true">
    <span>Yes</span>
  </label>
  <label class="fe-radio">
    <input type="radio" name="answer" value="false">
    <span>No</span>
  </label>
</div>
